@import url('./color.css');

/**
 *  CSS Index
 * 
 * 1. #Font
 * 2. #Reset
 */

/**
  * #Font
  */

@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: block;
}

@font-face {
    font-family: "Roboto Black";
    src: url("../fonts/roboto/Roboto-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
    font-display: block;
}

@font-face {
    src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype"), url("../fonts/Bebas_Neue/BebasNeue-Regular.otf") format("opentype");
    font-family: "BebasNeue";
    font-display: block;
}

@font-face {
    src: url("../fonts/Bebas_Neue/BebasNeue-Bold.ttf") format("truetype");
    font-family: "BebasNeueBold";
}

/***
   * #Reset CSS
   */

*{
    font-family: "BebasNeue";
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;
}

html{
    font-size: 65.2%;
}

body{
    overflow-x: hidden;
}
img{
    width: 100%;
    height: 100%;
    display: inline;
}

ul,
li {
  list-style: none;
}

/***
 * buttoms
 */

.btn {
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5em;
    cursor: pointer;
}

.btn-green {
    background: var(--bg-btn-green);
    color: var(--title-color);
}

.btn-red {
    background: var(--secondary-color);
    color: var(--title-color);
}

.title_container {
    font-size: 2rem;
    font-weight: 600;
    font-family: "BebasNeue";
    padding: 1.5rem 0;
}

/**
 * #forms custom
 */

label{
    font-size: 1.2em;
    font-family: "BebasNeue";
    padding: 0.3rem 0.2rem;
    color: var(--title-color);
}

/***
 * #scrollbar
 */

 ::-webkit-scrollbar {
    background-color: #ffffff;
    width: 0.6rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 1rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color:var(--secondary-color);
  }
    

/**
 * #nav
 * 
 */

.nav-top {
    position: relative;
    z-index: 11;
    padding: 0 4rem;
    background-color: var(--primary-color);
    height: 5rem;
}

.nav-top .container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.container-box .container-box_logo {
    width: 10rem;
}


.container-box .container-box_info-details {
    display: flex;
}

.container-box .container-box_info-details .info-item {
    margin-left: 3rem;
}

.container-box .container-box_info-details .info-item a {
    font-size: 1.5em;
    color: var(--title-color);
}

.container-box .container-box_info-details .info-item a i {
    font-size: 2em;
    margin-right: 0.8rem;
}

.nav-middle {
    position: relative;
    z-index: 99;
    width: 100%;
    padding: 0 4rem;
    height: auto;
    transition: all 0.7s linear;
}

.header-middle_white-transparent {
    background-color: rgba(255, 255, 255, 0.6);
}

.container-box .navbar {
    padding: 0.5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-box .navbar .navbar__menu {
    display: flex;
    align-items: center;
}

.container-box .navbar .navbar__menu .navbar__menu-item {
    margin-left: 2rem;
}

.navbar__menu .navbar__menu-item a {
    color: var(--link-navbar);
    font-size: 1.8em;
}

/***
 * #Home
 */
.home {
    /**! position */
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    /**! box model */
    width: 100vw;
    min-height: 100vh;
    /**! typography */
    /**! visual */
}

.container-box .background {
    /**! position */
    position: absolute;
    top: -150px;
    left: 0;
    /**! box model */
    width: 100vw;
}

.container-box .slide {
    /**! position */
    position: relative;
    z-index: 99;
    left: 12rem;
    top: 10rem;
    /**! box model */
    width: 60rem;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    align-items: center;
}

.container-box .slide .slide__logo img {
    /**! box model */
    width: 40rem;
}

.container-box .slide .slide__title h6 {
    /**! visual */
    font-size: 4.5rem;
    font-family: "BebasNeue";
    color: var(--title-color);
    font-weight: 800;
    letter-spacing: 0.2rem;
}
.container-box .slide button{
    font-size: 2.5em;
    width: 20rem;
}

/**
 * #Products
 */
.products {
    text-align: center;
    display: flex;
    flex-flow: column;
    flex-direction: column-reverse;
    width: 100vw;
}

.products .title_container {
    color: var(--primary-color);
    font-size: 3rem;
}

.products .container-box {
    padding: 0 4rem;
    display: flex;
    justify-content: space-evenly;
}

.products .container-box .box-item {
    width: 20rem;
    background: var(--bg-gradiant);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: solid 1px gray;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.products .container-box .box-item .title span {
    font-size: 2.5em;
    color: var(--title-color);
    font-weight: 800;
}

/***
 * #About
 */

.about {
    margin-top: 10rem;
    width: 100vw;
    min-height: 100vh;
}

.about .container-box {

    padding: 0 4rem;
    display: flex;
}

.about .container-box .box-item {
    width: 40rem;
    margin-left: 3rem;
}

.about .container-box .pictures_box div:nth-child(1) {
    width: 30rem;
    height: 30rem;
    position: absolute;
    left: 12rem;
    z-index: 10;
}

.about .container-box .pictures_box div:nth-child(1) img {
    border-radius: 1.5rem;
    object-fit: cover;
}

.about .container-box .pictures_box div:nth-child(2) {
    width: 20rem;
    height: 15rem;
    position: relative;
    left: 2rem;
    bottom: -20rem;
    z-index: 99;
}

.about .container-box .pictures_box div:nth-child(2) img {
    border-radius: 1.5rem;
    object-fit: cover;
}

.container-box .box-item .title_container {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 4em;
}

.container-box .box-item .text h6 {
    font-size: 2em;
    text-transform: uppercase;
    color: var(--primary-color);
}

.container-box .box-item .text h6 span {
    color: var(--secondary-color);
}

.container-box .box-item .text p {
    margin-top: 0.4rem;
    font-family: "BebasNeue";
    font-size: 1.8em;
    letter-spacing: normal;
    font-weight: 500;
    color: var(--primary-color);
}


/***
 * #Option
 */
.option {
    position: relative;
    width: 100%;
    z-index: 0;
    background-image: url('../img/banners/bg_option.jpg');
}

.option .container-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 0 4rem;
    width: 100%;
    height: 100%;
}

.option .container-box .item-box {
    width: 50%;
}

.option .container-box .item-box {
    position: relative;
    text-align: center;
}

.option .container-box .item-box:nth-child(1) {
    margin-top: 5rem;
}

.option .container-box .item-box h6 {
    font-size: 3em;
    color: var(--title-color);
}

.option .container-box .item-box .container-options {
    display: flex;
    width: 100%;
    justify-content: center;
}

.item-box .container-options .item {
    width: 12rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem 1.5rem;
    margin-left: 2rem;
}

.item-box .container-options .item h6 {
    font-size: 1em;
    font-weight: 400;
}

.item-box .container-options .item:nth-child(2) {
    position: absolute;
    top: 40%;
}

.option .container-box .item-box .circle {
    position: absolute;
    left: 15%;
    top: 10%;
    z-index: 1;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.option .container-box .item-box img {
    display: inline-block;
    position: relative;
    z-index: 2;
    top: 4%;
}


/***
 * type_products
 */

.type_products {
    height: 100vh;
    margin-top: 10rem;
}

.box-container {
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.box-container .item-card {
    width: 35rem;
    height: 13rem;
    display: flex;
    padding: 0.4 3rem;
    border-radius: 1.2rem;
    background: var(--bg-gradiant);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: solid 1px gray;

}

.box-container .item-card .title,
.box-container .item-card .image {
    width: 50%;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-container .item-card .title h6 {
    color: var(--title-color);
}

/***
  * #special_services
  */

.special_services {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 0;
    background-image: url('../img/banners/bg_option.jpg');
    text-align: center;
}

.special_services h6 {
    color: var(--title-color);
    font-size: 3em;
}

.special_services .container-box {
    padding: 0 4rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.special_services .container-box .card__services {
    width: 14rem;
    background: var(--primary-color);
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
}

.special_services .container-box .card__services:hover {
    transition: all 0.5s;
    transform: scale(1.1);
}

.container-box .card__services .card__services-img img {
    border-radius: 0.8rem 0.8rem 0 0;
}

.container-box .card__services .card__services-text {
    padding: 0.2rem 0.5rem;
    text-align: center;
}

.container-box .card__services .card__services-text span {
    color: var(--title-color);
    font-weight: 600;
}

.container-box .card__services button {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.4rem;
}

/**
 * #sectores
 */

.sectores {
    margin-top: 10rem;
    text-align: center;
    height: 100vh;
}

.sectores h6 {
    font-size: 3rem;
}

.sectores .line {
    width: 100%;
    height: 2rem;
    background: var(--bg-gradiant);
}

.sectores .container-box {
    margin-top: 5rem;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;

}

.container-box .sectores__item {
    margin-top: 8rem;
    width: 15rem;
    height: 15rem;
    text-align: center;
}

.container-box .sectores__item h6 {
    font-size: 2rem;
    text-transform: capitalize;
}


/***
  * 
  * #contact
  */

.contact {
   
    margin-top: 5rem;
}

.contact h6{
    color: var(--primary-color);
    font-size: 3rem;
    position: absolute;
    margin-left: 5rem;
}

.contact .box-container {
    padding: 0 4rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.contact .box-container .item img {
    object-fit: cover;
    height: 100vh;
}

.contact .box-container .item:nth-child(1) {
    background: #02133a;
    border-radius: 1.5rem;
    padding: 1.5rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item form .group-input {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;    
}


.item form .input-box{
    margin-top: 1.2rem;
    width: 100%;
}

.item form .input-box input[type="text"]{
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 1.2em;
    height: 2.5rem;
    width: 100%;
}

.item form .input-box textarea{
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 1.2em;
    width: 100%;
}

/**
 * #footer
 */
.footer{
    height: 25rem;
    width: 100%;
    display: flex;
    background: var(--bg-gradiant);
}
.footer .container-box{
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .container-box .item{
    width: 50%;
}

.footer .container-box .item h6{
    color: var(--title-color);
}

.container-box .item .contact__box{
    display: flex;
}


.container-box .item .contact__box .item ul li{
    margin-top: 1.5rem;
}

.container-box .item .contact__box .item ul li a{
    color: var(--title-color);
    font-size: 1.2em;
}

.container-box .item .contact__box .item ul li a i{
    font-size: 1.2em;
}

.container-box .item:nth-child(2){
    display: flex;
    flex-flow: column;
    gap: 1rem;
    justify-content: space-between;
}

.container-box .item .address ,
.container-box .item .terms{
    padding: 0.4rem 2rem;
}


.container-box .item .address a i{
    font-size: 2rem;
}

.container-box .item .address a,
.container-box .item .terms a{
    color: var(--title-color);
    font-size: 1.2em;
    margin-top: 2rem;
}

@media(max-width:768px){
    html{
        font-size: 50%;
    }
}